.bg-dark{
	font-size: 18px;
	background-color: blue;
	font-family: 'Arial', serif;
}



section{margin-right: : 10px;
	margin-left: 10px;
	position: relative;
	padding: 10px


}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}